/**MyProjectspage**/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");

body {
  background-color: #f3d4c7;
  font-family: "Montserrat", sans-serif;
  height: 100%;
  overflow: hidden;
  overflow-x: hidden;
}

/********* Wrapper ********/
.wrapper {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
}

.page {
  position: relative;
  margin: 65px auto;
  width: 55%;
  height: 85%;
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  grid-template-rows: 30px 8em 40px;
  grid-auto-rows: minmax(auto, auto);
  grid-template-areas:
    "cross . ."
    "title . ."
    "projectstext projectstext projectstext"
    "projects projects projects";
  background-color: white;
}

h1 {
  color: #edc565;
  font-size: 28px;
  margin: 50px;
  grid-area: title;
}

.cross {
  color: #edc565;
  font-size: 50px;
  margin-left: 5px;
  grid-area: cross;
}

.cross:hover {
  color: #5f5747;
  transform: rotateZ(45deg);
  transform-origin: 10%;
}

.projectstext {
  grid-area: projectstext;
  margin: 0 50px 0 50px;
  font-size: 18px;
}

.projects {
  position: relative;
  margin: 65px auto;
  width: 55%;
  height: 85%;
  grid-area: projects;
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  grid-template-rows: 30px 8em 40px;
  grid-auto-rows: minmax(auto, auto);
  grid-gap: 20px;
  grid-template-areas:
    "weatherapp project2 ."
    ". . .";
}

.weatherapp {
  grid-area: weatherapp;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weatherimg {
  width: 100%;
  height: auto;
}

.project2 {
  grid-area: project2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project2img {
  width: 100%;
  height: auto;
}

/********* Left Menu ********/
/********* Logo Skillpage ********/
.logo {
  background-color: #edc565;
}

/********* Social Icons *********/
.icon {
  color: #edc565;
}
