/**Skillpage**/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");

body {
  background-color: #242424;
  font-family: "Montserrat", sans-serif;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  color: #f4f0eb;
}

/********* Wrapper ********/
.wrapper {
  width: 100%;
  height: 120vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  position: relative;
  margin: 1.5em auto 1.5em auto;
  width: 75vw;
  height: 110vh;
  display: flex;
  flex-direction: column;
  background-color: #333333;
}

h1 {
  font-size: 2em;
  margin: 2em 0 1em 0;
  text-align: center;
  color: #a34436;
}

.cross {
  color: #a34436;
  font-size: 3em;
  margin-left: 0.2em;
  position: absolute;
  transition: transform 0.25s, opacity 0.25s;
}

.cross:hover {
  color: #5f5747;
  /*transform: rotateZ(45deg);*/
  transform: rotate(90deg);
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skilltext {
  margin: 3.75em 3.1em 0 3.1em;
  font-size: 0.8em;
  max-width: 40%;
  word-wrap: break-word;
  word-break: break-word;
}

.skilllist {
  margin: 1.25em 3.1em 0 3.1em;
  font-size: 0.8em;
  word-wrap: break-word;
  max-width: 40%;
}

li {
  margin: 0.6em 0 0 1.8em;
}

li::marker {
  color: #a34436;
}

/********* Left Menu ********/
/********* Logo Skillpage ********/
.logo {
  background-color: #a34436;
}

/********* Social Icons *********/
.icon {
  color: #a34436;
}

/********* Cubes ********/
.container {
  /*position: relative;*/
  width: 22.5em;
  height: 22.5em;
  margin: 0 auto;
  grid-area: container;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-gap: 0.625em;
  padding: 1.875em;
  background-color: #f4f0eb;
  box-shadow: 0 0.25em 0.5em 0 rgba(0.2, 0.2, 0.2, 1);
}

.cube_face > i {
  font-size: 1.563em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.scene > i {
  font-size: 1.875em;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  color: black;
  transition: bottom 0.3s;
}

.scene:hover > i {
  transform: translate(-50%, 0) rotateY(360deg);
  bottom: -10px;
  transition: 0.3s 0.2s;
}

.cube {
  transform: translateY(0) translateZ(-100px) rotateX(-20deg) rotateY(20deg);
}

.scene {
  width: 3.125em;
  height: 3.125em;
  perspective: 31.25em;
  margin-left: 0.5em;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.3s ease-in;
}

.cube_shadow {
  display: block;
  position: absolute;
  width: 3.125em;
  height: 2.5em;
  filter: blur(0.625em);
  bottom: -10px;
  left: 0;
  background-color: black;
  transition: 0.3s ease-in;
}

.scene:hover .cube_shadow {
  width: 3.75em;
  height: 0.625em;
  filter: blur(0.938em);
  bottom: 0;
  left: 0.625em;
}

.cube_face {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ae3b3b;
  /*  Oder evt. mit dieser Farbe: background-color: #9c0c0c;*/
  opacity: 1;
  border: 0.063em solid black;
}

.cube_face--front {
  transform: rotateY(0) translateZ(1.563em);
}

.cube_face--right {
  transform: rotateY(90deg) translateZ(1.563em);
  background-color: #992b2b;
}

.cube_face--back {
  transform: rotateY(180deg) translateZ(1.563em);
  background-color: #520303;
}

.cube_face--left {
  transform: rotateY(-90deg) translateZ(1.563em);
  background-color: #e63737;
}

.cube_face--top {
  transform: rotateX(90deg) translateZ(1.563em);
  background-color: #c21f1f;
}

.scene:hover .cube {
  transform: translateY(-40px) translateZ(-100px) rotateX(30deg) rotateY(30deg);
}

/*Mobile 768px*/
@media (max-width: 768px) {
  /********* Wrapper ********/
  .wrapper {
    height: 220vh;
  }

  .page {
    margin: 0 auto 1.5em 6.8em;
    width: 65vw;
    height: 150vh;
  }
  /********* Cubes ********/
  .container {
    width: 18em;
    height: 18em;
    margin: 0 auto;
    transform: scale(0.5, 0.5);
  }
}
