/**MyProjectspage**/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3d4c7;
  font-family: "Montserrat", sans-serif;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  color: #fff;
}

/********* Wrapper ********/
.wrapper {
  width: 100%;
  height: 240vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  position: relative;
  margin: 25px auto 25px auto;
  width: 75vw;
  height: 200vh;
  display: flex;
  flex-direction: column;
  background-color: #edc565;
}

/*
.page {
  position: relative;
  margin: 65px auto;
  width: 55%;
  height: 85%;
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  grid-template-rows: 30px 8em 40px;
  grid-auto-rows: minmax(auto, auto);
  grid-template-areas:
    "cross . ."
    "title . ."
    "projectstext projectstext projectstext"
    "projects projects projects";
  background-color: white;
}*/

h1 {
  font-size: 1.5em;
  margin: 50px;
  grid-area: title;
}

h2 {
  color: #edc565;
  font-size: 1.2em;
  margin-left: 0.8em;
  margin-bottom: 0.8em;
}

.cross {
  color: #f3d4c7;
  font-size: 50px;
  margin-left: 5px;
  grid-area: cross;
  position: absolute;
  transition: transform 0.25s, opacity 0.25s;
}

.cross:hover {
  color: #5f5747;
  transform: rotate(90deg);
}

.projectstext {
  grid-area: projectstext;
  margin: 0 50px 0 50px;
  font-size: 1em;
}

.projects {
  position: relative;
  margin: 25px auto;
  width: auto;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
.projects {
  position: relative;
  margin: 65px auto;
  width: 75%;
  height: 85%;
  grid-area: projects;
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  grid-template-rows: 30px 8em 40px;
  grid-auto-rows: minmax(auto, auto);
  grid-gap: 20px;
  grid-template-areas:
    "project1 project2 project3"
    ". . .";
}*/

.project1 {
  width: 40%;
  height: auto;
  margin-top: 1.5em;
  position: relative;
  margin: 1.5em 0;
  background-color: #f4f0eb;
  box-shadow: 0 4px 8px 0 rgba(0.2, 0.2, 0.2, 1);
}

.project1 img {
  width: 100%;
  height: auto;
  margin: 1.5em 0;
}

.top-img {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.7s ease;
}

.top-img:hover {
  opacity: 1;
}

.project2 {
  background-color: #f4f0eb;
  width: 40%;
  height: auto;
  position: relative;
  margin: 1.5em 0;
  box-shadow: 0 4px 8px 0 rgba(0.2, 0.2, 0.2, 1);
}

.project2 img {
  width: 100%;
  height: auto;
  margin: 1.5em 0;
}

.project3 {
  background-color: #f4f0eb;
  width: 40%;
  height: auto;
  position: relative;
  margin: 1.5em 0;
  box-shadow: 0 4px 8px 0 rgba(0.2, 0.2, 0.2, 1);
}

.project3 img {
  width: 100%;
  height: auto;
  margin: 1.5em 0;
}

/********* Left Menu ********/
/********* Logo Skillpage ********/
.logo {
  background-color: #edc565;
}

/********* Social Icons *********/
.icon {
  color: #edc565;
}

/*Mobile 768px*/
@media (max-width: 768px) {
  /********* Wrapper ********/
  .wrapper {
    height: 200vh;
  }

  .page {
    margin: 0 auto 25px 110px;
    width: 65vw;
    height: 160vh;
  }

  h1 {
    font-size: 1.2em;
  }

  h2 {
    font-size: 0.8em;
  }

  .projectstext {
    font-size: 0.6em;
  }

  .project1 {
    width: 60%;
  }

  .project2 {
    width: 60%;
  }

  .project3 {
    width: 60%;
  }
}
