@import url("https://fonts.googleapis.com/css2?family=Gudea:wght@400;700&display=swap");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus,
*::before:focus,
*::after:focus {
  outline: none;
}

* {
  font-family: "Gudea", sans-serif;
}

body {
  position: relative;
  margin: 0;
  height: 100vh;
  background-color: #ffebd6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  cursor: none;
}

#circle {
  position: fixed;
  z-index: 5;
  width: 64px;
  height: 64px;
  background-color: #fff;
  border-radius: 50%;
  pointer-events: none;
  transition: background ease-in 10ms, box-shadow ease-in 150ms,
    transform ease-in 150ms;
  transform: translate3d(0, 0, 0);
}

#page {
  position: relative;
  background-color: #adb394;
  width: 85%;
  height: 65%;
}

.box {
  margin: 0;
  height: 25%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 100px;
  grid-template-areas:
    "header header header"
    ". main ."
    ". footer .";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

h1 {
  font-size: 64px;
}

footer {
  grid-area: footer;
}

#box-general {
  background-color: #adb394;
  width: 100%;
  height: 100%;
}

#box-general:hover ~ #circle {
  background-color: transparent;
  box-shadow: 0 0 0 1px #333;
}
