/**MyJourneypage**/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #242424;
  font-family: "Montserrat", sans-serif;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  color: #adb394;
}

/********* Wrapper ********/
.wrapper {
  width: 100%;
  height: 300vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  position: relative;
  margin: 1.5em auto 1.5em auto;
  width: 75vw;
  height: 280vh;
  display: flex;
  flex-direction: column;
  background-color: #333;
}

.cross {
  color: #adb394;
  font-size: 3em;
  margin-left: 0.2em;
  grid-area: cross;
  position: absolute;
  transition: transform 0.25s, opacity 0.25s;
}

.cross:hover {
  color: #5f5747;
  transform: rotate(90deg);
}

img {
  width: 3.1em;
  height: auto;
  /*border-radius: 50%;*/
  margin-top: 0.625em;
  display: inline;
}

/*PortraitAboutMe*/
.tc-container {
  width: 45%;
  height: 85vh;
  margin-top: 1.5em;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0.25em 0.5em 0 rgba(0.2, 0.2, 0.2, 1);
  background-color: #f4f0eb;
  margin-bottom: 2em;
  margin: 1.25em auto;
  color: #5f5747;
}

.centerimg {
  width: 30%;
  height: auto;
}

.tc-container img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin: 1.5em 0;
}

/*
.top-img {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.7s ease;
}

.top-img:hover {
  opacity: 1;
}
*/

.portraittext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portrait {
  margin: 2.5em;
  text-align: center;
}

.contact {
  margin-top: 0;
}

/********* Left Menu ********/
/********* Logo Skillpage ********/
.logo {
  background-color: #adb394;
}

/********* Social Icons *********/
.icon {
  color: #adb394;
}

a {
  color: #adb394;
  text-decoration: none;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
a:hover,
a.selected {
  color: #adb394;
}

h1,
h2,
h4,
h5,
h6 {
  text-align: center;
  margin-bottom: 0.3em;
}
h1 {
  font-size: 2em;
  margin: 3.1em;
}

h2 {
  font-size: 1.25em;
  margin: 1.5em 0;
}

h3 {
  color: #adb394;
  text-align: center;
}

.sociales {
  text-align: center;
  margin-bottom: 1.25em;
}

#timeline {
  grid-area: timeline;
  width: 31.25em;
  height: 50em;
  /*overflow: hidden;*/
  margin: 2.5em auto;
  position: relative;
  background: url("img/dot.png") 0.2em top repeat-y;
  box-shadow: 0 0.25em 0.5em 0 rgba(0.2, 0.2, 0.2, 1);
  background-color: #f4f0eb;
  color: #5f5747;
}

.title {
  color: #adb394;
}

.buttonCV {
  display: none;
}

button {
  background-color: #f4f0eb;
  color: #5f5747;
  border: 0.125em solid #adb394;
  border-radius: 3.125em;
  width: 80%;
  height: 2.5em;
  padding: 0.625em 0.625em;
  margin: 1.25em 0 1.25em 0;
  cursor: pointer;
  font-size: 0.75em;
  text-align: center;
  justify-content: center;
}

button {
  transition-duration: 0.4s;
}

button:hover {
  background-color: #adb394;
  color: #fff;
}

.fa-download {
  margin-right: 0.3em;
}

.buttonCVDesktop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1.25em;
}

.buttoncontact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 1.25em;
}

.fa-envelope {
  color: #5f5747;
  margin-right: 0.3em;
}

#dates {
  width: 6.25em;
  height: 37.5em;
  /*overflow: hidden;*/
  float: left;
}
#dates li {
  list-style: none;
  width: 6.25em;
  height: 6.25em;
  line-height: 6.25em;
  font-size: 1.5em;
  padding-left: 0.625em;
  background: url("img/biggerdot.png") left center no-repeat;
}
#dates a {
  line-height: 2.4em;
  padding-bottom: 0.6em;
}
#dates .selected,
#dates .focus {
  font-size: 2.4em;
}

#dates a:hover {
  font-size: 2.25em;
}

#issues {
  width: 25em;
  height: 37.5em;
  overflow: hidden;
  float: left;
}
#issues li {
  max-width: 18.75em; /*width: 400px;*/
  height: 37.5em;
  list-style: none;
  text-align: center; /* add*/
}
#issues li.selected img {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

#issues li img {
  float: left;
  width: 12.5em; /* add*/
  height: auto;
  /*
  margin: 0.625em 1.875em 0.625em 1.875em;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE 8 */
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF); /* IE 6 & 7 */
  /*zoom: 1;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  -ms-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  -webkit-transform: scale(0.7, 0.7);
  -moz-transform: scale(0.7, 0.7);
  -o-transform: scale(0.7, 0.7);
  -ms-transform: scale(0.7, 0.7);
  transform: scale(0.7, 0.7);*/
}

#issues li h1 {
  color: #adb394;
  font-size: 1.5em;
  text-align: center;
}
#issues li p {
  font-size: 0.8em;
  margin: 0.6em 1.25em;
  font-weight: normal;
  line-height: 2em;
}

#grad_top,
#grad_bottom {
  width: 31.25em;
  height: 5em;
  position: absolute;
}
#grad_top {
  top: 0;
  /*background: url("http://www.csslab.cl/ejemplos/timelinr/latest/images/grad_top.png")
    repeat-x;*/
}
#grad_bottom {
  bottom: 0;
  margin-top: 10em;
  /*background: url("http://www.csslab.cl/ejemplos/timelinr/latest/images/grad_bottom.png")
    repeat-x;*/
}

/*Mobile 768px*/
@media (max-width: 768px) {
  /********* Wrapper ********/
  .wrapper {
    height: 240vh;
  }

  .page {
    margin: 0 auto 1.5em 6.8em;
    width: 65vw;
    height: 200vh;
  }
  #timeline {
    display: none;
  }

  /*PortraitAboutMe*/
  .tc-container {
    width: 75%;
    height: 80vh;
    margin-top: 1.5em;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.25em 0.5em 0 rgba(0.2, 0.2, 0.2, 1);
    margin-bottom: 1.25em;
    margin: 1.25em auto;
  }

  .tc-container img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin: 1.5em 0;
  }

  .buttonCVDesktop {
    display: none;
  }

  .buttonCV {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    background-color: #f4f0eb;
    color: #333;
    border: 0.125em solid #adb394;
    display: inline;
    width: 80%;
    height: auto;
    padding: 0.35em 1.4em;
    margin: 1.25em 0 3.75em 0;
    cursor: pointer;
    font-size: 0.9em;
  }

  button {
    transition-duration: 0.4s;
  }

  button:hover {
    background-color: #adb394;
    color: white;
  }

  .fa-download {
    margin-right: 0.3em;
  }
}
