@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");

/********* Root ********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/********* Body ********/
body {
  font-family: "Montserrat", sans-serif;
  overflow: scroll;
  overflow-x: hidden;
  height: 315vh;
  transition: background 1s ease;
  cursor: none;
}

/********* Reset ********/
button {
  background-color: transparent;
  border: none;
}

button:focus {
  outline: none;
}

/*Circle*/
#circle {
  position: fixed;
  z-index: 5;
  width: 0.5em;
  height: 0.5em;
  background: #5f5747;
  box-shadow: 0 0 0 1px rgb(97, 95, 95);
  border-radius: 50%;
  pointer-events: none;
  transition: background ease-in 10ms, box-shadow ease-in 150ms,
    transform ease-in 150ms;
  transform: translate3d(0, 0, 0);
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgb(0, 0, 0);
  z-index: 1;
  background: linear-gradient(90deg, #adb394 35%, #ffebd6 55%, #e8c9b7 100%);
  top: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.underpage_link {
  text-decoration: none;
}

/********* Left Menu ********/
.left_menu {
  width: 6.25em;
  height: 100%;
  display: flex;
  background-color: transparent;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
}

/********* Logo ********/
.logo {
  width: 100%;
  height: 6.25em;
  display: flex;
  align-items: center;
  justify-content: center;
}

/********* Social Icons ********/
.social_icons_list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 0.625em;
}

.social_icons_list_item {
  margin-bottom: 2rem;
  cursor: pointer;
}

.social_icons_list_item i {
  font-size: 0.875em;
}

.social_icons_list_item.circle {
  width: 2.1em;
  height: 2.1em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #5f5747;
  border-radius: 50%;
  padding-top: 0.3em;
}

.icon {
  font-weight: 400;
  color: #5f5747;
}

.icon:hover {
  color: #adb394;
}

/********* Page1-MyJourney ********/
/********* Wrapper1 ********/
.wrapper {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
}

.page_link {
  text-decoration: none;
  color: inherit;
}

.page_link.active {
  border-top: 2px solid #adb394;
  padding-top: 0.438em;
  color: #5f5747;
}

.page_link:hover {
  color: #5f5747;
  font-size: 1.125em;
}

.larger_text_content {
  position: absolute;
  left: 10%;
  top: 28%;
}

.large_text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.563em;
  text-transform: uppercase;
  letter-spacing: 0.063em;
  line-height: 1;
  color: #5f5747;
}

.green_box {
  background-color: #adb394;
  width: 18.75em;
  height: 17.5em;
  margin-top: 1em;
  padding: 2em;
}

/*Funktioniert noch nicht
.green_box:hover ~ #circle {
  background: #ffebd6;
}*/

.green_box_content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.green_box_content > span:nth-child(1) {
  font-size: 0.75em;
  background-color: #fafafa;
  width: 3.125em;
  height: 1.25em;
  color: #adb394;
  border-radius: 50px;
  text-align: center;
  justify-content: center;
  margin-bottom: 0.3em;
}

.green_box_content > span:nth-child(2) {
  font-size: 1.75em;
  color: #fafafa;
  text-transform: capitalize;
  margin-bottom: 0.25em;
}

.see_more {
  font-size: 0.75em;
  color: #fafafa;
  text-transform: capitalize;
  letter-spacing: 0.05em;
}

.see_more::before {
  display: inline-block;
  content: "";
  border-top: 1.9px solid #fafafa;
  width: 1.563em;
  margin: 0 0.625em 0 0;
  transform: translateY(-3px);
}

.desc_content {
  position: absolute;
  width: 18.75em;
  height: 25em;
  top: 30%;
  right: 5%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.desc_content > p {
  font-family: "Montserrat", sans-serif;
  width: 14.3em;
  color: #5f5747;
  font-size: 1.125em;
  font-weight: 600;
  line-height: 1.5em;
}

.desc_content > p > span {
  color: #adb394;
}

.skills,
.projects {
  display: flex;
  flex-direction: column;
}

.skills > span:nth-child(1),
.projects > span:nth-child(1) {
  color: #adb394;
  margin-bottom: 0.438em;
  font-size: 1em;
}

.skills > span:nth-child(2),
.projects > span:nth-child(2) {
  font-size: 1.063em;
  font-weight: 600;
  color: #5f5747;
  text-transform: capitalize;
  letter-spacing: 0.056em;
}

.myjourney_text {
  font-size: 1.25em;
  font-weight: 600;
  color: #5f5747;
  text-transform: capitalize;
  letter-spacing: 0.044em;
}

.myjourney_text::before {
  display: inline-block;
  content: "";
  width: 2.1em;
  border-top: 2px solid #adb394;
  transform: translateX(-10px) translateY(-5px);
  padding-right: 2.9em;
}

.slide {
  letter-spacing: 0.5em;
}

.slide > span:nth-child(1) {
  color: #ad1313;
  font-size: 1.125em;
}

.slide > span:nth-child(2) {
  color: #adb394;
  font-size: 0.9em;
}

/********* Page2-Projects ********/
/********* Wrapper2 ********/
.wrapper2 {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  position: absolute;
  top: 100vh;
}

.larger_text_content2 {
  position: absolute;
  left: 10%;
  top: 28%;
}

.yellow_box {
  background-color: #edc565;
  width: 18.75em;
  height: 17.5em;
  margin-top: 1em;
  padding: 2em;
}

/*Funktioniert noch nicht
.yellow_box ~ #circle {
  background-color: #3c1eb0;
  box-shadow: 0 0 0 0 transparent, inset 0em -0.3em 0.4em 0.2em #ca9e03a6;
}*/

.yellow_box_content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.yellow_box_content > span:nth-child(1) {
  font-size: 0.75em;
  background-color: #fff;
  width: 3.125em;
  height: 1.25em;
  color: #edc565;
  border-radius: 50px;
  text-align: center;
  justify-content: center;
  margin-bottom: 0.3em;
}

.yellow_box_content > span:nth-child(2) {
  font-size: 1.75em;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 0.25em;
}

.desc_content2 {
  position: absolute;
  width: 18.75em;
  height: 25em;
  top: 30%;
  right: 5%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.desc_content2 > p {
  font-family: "Montserrat", sans-serif;
  width: 14.3em;
  color: #5f5747;
  font-size: 1.125em;
  font-weight: 600;
  line-height: 1.5em;
}

.desc_content2 > p > span {
  color: #edc565;
}

.skills2,
.myjourney {
  display: flex;
  flex-direction: column;
}

.skills2 > span:nth-child(1),
.myjourney > span:nth-child(1) {
  color: #edc565;
  margin-bottom: 0.438em;
  font-size: 1em;
}

.skills2 > span:nth-child(2),
.myjourney > span:nth-child(2) {
  font-size: 1.063em;
  font-weight: 600;
  color: #5f5747;
  text-transform: capitalize;
  letter-spacing: 0.056em;
}

.projects_text {
  font-size: 1.25em;
  font-weight: 600;
  color: #5f5747;
  text-transform: capitalize;
  letter-spacing: 0.044em;
}

.projects_text::before {
  display: inline-block;
  content: "";
  width: 2.188em;
  border-top: 2px solid #edc565;
  transform: translateX(-10px) translateY(-5px);
  padding-right: 1.3em;
}

.slide2 {
  letter-spacing: 0.25em;
}

.slide2 > span:nth-child(1) {
  color: #ad1313;
  font-size: 1.125em;
}

.slide2 > span:nth-child(2) {
  color: #edc565;
  font-size: 0.93em;
}

/********* Page3-Skills ********/
/********* Wrapper3 ********/
.wrapper3 {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  position: absolute;
  top: 200vh;
}

.larger_text_content3 {
  position: absolute;
  left: 10%;
  top: 28%;
}

.red_box {
  background-color: #a34436;
  width: 18.75em;
  height: 17.5em;
  margin-top: 1rem;
  padding: 2rem;
}

/*Funktioniert noch nicht
.red_box ~ #circle {
  background-color: #3c1eb0;
  box-shadow: 0 0 0 0 transparent, inset 0em -0.3em 0.4em 0.2em #ca9e03a6;
}*/

.red_box_content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.red_box_content > span:nth-child(1) {
  font-size: 0.75em;
  background-color: #fff;
  width: 3.125em;
  height: 1.25em;
  color: #a34436;
  border-radius: 50px;
  text-align: center;
  justify-content: center;
  margin-bottom: 0.3em;
}

.red_box_content > span:nth-child(2) {
  font-size: 1.75em;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 0.25em;
}

.desc_content3 {
  position: absolute;
  width: 18.75em;
  height: 25em;
  top: 30%;
  right: 5%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.desc_content3 > p {
  font-family: "Montserrat", sans-serif;
  width: 14.3em;
  color: #5f5747;
  font-size: 1.125em;
  font-weight: 600;
  line-height: 1.5em;
}

.desc_content3 > p > span {
  color: #a34436;
}

.projects3,
.myjourney3 {
  display: flex;
  flex-direction: column;
}

.projects3 > span:nth-child(1),
.myjourney3 > span:nth-child(1) {
  color: #a34436;
  margin-bottom: 0.438em;
  font-size: 1em;
}

.projects3 > span:nth-child(2),
.myjourney3 > span:nth-child(2) {
  font-size: 1.063em;
  font-weight: 600;
  color: #5f5747;
  text-transform: capitalize;
  letter-spacing: 0.056em;
}

.skills_text {
  font-size: 1.25em;
  font-weight: 600;
  color: #5f5747;
  text-transform: capitalize;
  letter-spacing: 0.044em;
}

.skills_text::before {
  display: inline-block;
  content: "";
  width: 2.188em;
  border-top: 2px solid #a34436;
  transform: translateX(-10px) translateY(-5px);
  padding-right: 3em;
}

.slide3 {
  letter-spacing: 0.25em;
}

.slide3 > span:nth-child(1) {
  color: #ad1313;
  font-size: 1.125em;
}

.slide3 > span:nth-child(2) {
  color: #a34436;
  font-size: 0.93em;
}

/*Mobile 768px*/
@media (max-width: 768px) {
  /*Wrapper1*/
  .wrapper {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  .larger_text_content {
    margin: 7rem;
    align-items: flex-start;
    justify-content: center;
    position: unset;
  }
  .desc_content {
    margin: 0 7rem 0 7rem;
    align-items: flex-start;
    justify-content: flex-start;
    position: unset;
  }
  .green_box {
    width: 15em;
    height: 13.75em;
  }
  .green_box_content > span:nth-child(2) {
    font-size: 1.4em;
  }
  /*Wrapper2*/
  .wrapper2 {
    padding: 0;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
  }
  .larger_text_content2 {
    margin: 7rem;
    align-items: flex-start;
    justify-content: center;
    position: unset;
  }
  .desc_content2 {
    margin: 0 7rem 0 7rem;
    align-items: flex-start;
    justify-content: flex-start;
    position: unset;
  }
  .yellow_box {
    width: 15em;
    height: 13.75em;
  }
  .yellow_box_content > span:nth-child(2) {
    font-size: 1.4em;
  }
  /*Wrapper3*/
  .wrapper3 {
    padding: 0;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
  }
  .larger_text_content3 {
    margin: 7rem;
    align-items: flex-start;
    justify-content: center;
    position: unset;
  }
  .desc_content3 {
    margin: 0 7rem 0 7rem;
    align-items: flex-start;
    justify-content: flex-start;
    position: unset;
  }
  .red_box {
    width: 15em;
    height: 13.75em;
  }
  .red_box_content > span:nth-child(2) {
    font-size: 1.4em;
  }
}
