/**MyProjectspage**/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #242424;
  font-family: "Montserrat", sans-serif;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  color: #fafafa;
}

/********* Wrapper ********/
.wrapper {
  width: 100%;
  height: 290vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  position: relative;
  margin: 1.5em auto 1.5em auto;
  width: 75vw;
  height: 250vh;
  display: flex;
  flex-direction: column;
  background-color: #333;
}

h1 {
  color: #edc565;
  font-size: 2em;
  margin: 2em 0 1em 0;
  text-align: center;
}

p {
  text-align: center;
}

h2 {
  color: #5f5747;
  font-size: 1.2em;
  margin: 0.8em 0.8em 0.8em;
}

.cross {
  color: #edc565;
  font-size: 3em;
  margin-left: 0.2em;
  position: absolute;
  transition: transform 0.25s, opacity 0.25s;
}

.cross:hover {
  color: #5f5747;
  transform: rotate(90deg);
}

.projectstext {
  margin: 0 2em 0 2em;
  font-size: 1em;
}

.projects {
  position: relative;
  margin: 1.5em auto;
  width: auto;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project1 {
  width: 40%;
  height: auto;
  position: relative;
  margin: 1.5em 0;
  background-color: #f4f0eb;
  box-shadow: 0 0.25em 0.5em 0 rgba(0.2, 0.2, 0.2, 1);
}

.project1 img {
  width: 100%;
  height: auto;
  margin-bottom: 1.5em 0;
}

.top-img {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.7s ease;
}

.top-img:hover {
  opacity: 1;
}

.project2 {
  background-color: #f4f0eb;
  width: 40%;
  height: auto;
  position: relative;
  margin: 1.5em 0;
  box-shadow: 0 0.25em 0.5em 0 rgba(0.2, 0.2, 0.2, 1);
}

.project2 img {
  width: 100%;
  height: auto;
  margin-bottom: 1.5em;
}

.project3 {
  background-color: #f4f0eb;
  width: 40%;
  height: auto;
  position: relative;
  margin: 1.5em 0;
  box-shadow: 0 0.25em 0.5em 0 rgba(0.2, 0.2, 0.2, 1);
}

.project3 img {
  width: 100%;
  height: auto;
  margin-bottom: 1.5em;
}

.project4 {
  background-color: #f4f0eb;
  width: 55%;
  height: auto;
  position: relative;
  margin: 1.5em 0;
  box-shadow: 0 0.25em 0.5em 0 rgba(0.2, 0.2, 0.2, 1);
}

.project4 img {
  width: 100%;
  height: auto;
  margin-bottom: 0em;
}

/********* Left Menu ********/
/********* Logo Skillpage ********/
.logo {
  background-color: #edc565;
}

/********* Social Icons *********/
.icon {
  color: #edc565;
}


/*Surface Pro 912px*/
@media (max-width: 912px) {
  .wrapper {
    height: 150vh;
  }

  .page {
    margin: 0 auto 1.5em 6.8em;
    width: 65vw;
    height: 110vh;
  }

/*iPad 820px*/
@media (max-width: 820px) {
  .wrapper {
    height: 160vh;
  }

  .page {
    margin: 0 auto 1.5em 6.8em;
    width: 65vw;
    height: 120vh;
  }

/*Mobile 768px*/
@media (max-width: 768px) {
  /********* Wrapper ********/
  .wrapper {
    height: 200vh;
  }

  .page {
    margin: 0 auto 1.5em 6.8em;
    width: 65vw;
    height: 160vh;
  }

  h1 {
    font-size: 1.2em;
  }

  h2 {
    font-size: 0.8em;
  }

  .projectstext {
    font-size: 0.6em;
  }

  .project1 {
    width: 60%;
  }

  .project2 {
    width: 60%;
  }

  .project3 {
    width: 60%;
  }
}
