/**Skillpage**/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");

body {
  background-color: #e8c9b7;
  font-family: "Montserrat", sans-serif;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

/********* Wrapper ********/
.wrapper {
  width: 100%;
  height: 120vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  position: relative;
  margin: 25px auto 25px auto;
  width: 75vw;
  height: 110vh;
  display: flex;
  flex-direction: column;
  background-color: white;
}

/*
.page {
  position: relative;
  margin: 65px auto 65px auto;
  width: 75vw;
  height: 140vh;
  --auto-grid-min-size: 16rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  grid-gap: 1rem;
  grid-template-rows: auto auto 1fr 0.5fr 0.5fr;
  grid-auto-rows: minmax(auto, auto);
  grid-template-areas:
    "cross . ."
    "title . ."
    ". container ."
    "skilltext skilltext ."
    "skilllist skilllist .";
  background-color: white;
}*/

h1 {
  color: #ae3b3b;
  font-size: 1.5em;
  margin: 50px;
  grid-area: title;
}

.cross {
  color: #ae3b3b;
  font-size: 3em;
  margin-left: 5px;
  grid-area: cross;
  position: absolute;
  transition: transform 0.25s, opacity 0.25s;
}

.cross:hover {
  color: #5f5747;
  /*transform: rotateZ(45deg);*/
  transform: rotate(90deg);
}

.skilltext {
  grid-area: skilltext;
  margin: 60px 50px 0 50px;
  font-size: 0.8em;
  word-wrap: break-word;
  word-break: break-word;
}

.skilllist {
  grid-area: skilllist;
  margin: 20px 50px 0 50px;
  font-size: 0.8em;
  word-wrap: break-word;
}

li {
  margin: 10px 0 0 30px;
}

li::marker {
  color: #ae3b3b;
}

/********* Left Menu ********/
/********* Logo Skillpage ********/
.logo {
  background-color: #ae3b3b;
}

/********* Social Icons *********/
.icon {
  color: #ae3b3b;
}

/********* Cubes ********/
.container {
  /*position: relative;*/
  width: 260px;
  height: 260px;
  margin: 0 auto;
  grid-area: container;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-gap: 10px;
  padding: 30px;
  background-color: white;
}

.cube_face > i {
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.scene > i {
  font-size: 30px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  color: black;
  transition: bottom 0.3s;
}

.scene:hover > i {
  transform: translate(-50%, 0) rotateY(360deg);
  bottom: -10px;
  transition: 0.3s 0.2s;
}

.cube {
  transform: translateY(0) translateZ(-100px) rotateX(-20deg) rotateY(20deg);
}

.scene {
  width: 50px;
  height: 50px;
  perspective: 500px;
  margin-left: 8px;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.3s ease-in;
}

.cube_shadow {
  display: block;
  position: absolute;
  width: 50px;
  height: 40px;
  filter: blur(10px);
  bottom: -10px;
  left: 0;
  background-color: black;
  transition: 0.3s ease-in;
}

.scene:hover .cube_shadow {
  width: 60px;
  height: 10px;
  filter: blur(15px);
  bottom: 0;
  left: 10px;
}

.cube_face {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ae3b3b;
  /*  Oder evt. mit dieser Farbe: background-color: #9c0c0c;*/
  opacity: 1;
  border: 1px solid black;
}

.cube_face--front {
  transform: rotateY(0) translateZ(25px);
}

.cube_face--right {
  transform: rotateY(90deg) translateZ(25px);
  background-color: #992b2b;
}

.cube_face--back {
  transform: rotateY(180deg) translateZ(25px);
  background-color: #520303;
}

.cube_face--left {
  transform: rotateY(-90deg) translateZ(25px);
  background-color: #e63737;
}

.cube_face--top {
  transform: rotateX(90deg) translateZ(25px);
  background-color: #c21f1f;
}

.scene:hover .cube {
  transform: translateY(-40px) translateZ(-100px) rotateX(30deg) rotateY(30deg);
}

/*Mobile 768px*/
@media (max-width: 768px) {
  /********* Wrapper ********/
  .wrapper {
    height: 220vh;
  }

  .page {
    margin: 0 auto 25px 110px;
    width: 65vw;
    height: 150vh;
  }
  /********* Cubes ********/
  .container {
    width: 240px;
    height: 240px;
    margin: 0 auto;
  }
}
