/**MyJourneypage**/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: unset;
}

body {
  background-color: #242424;
  font-family: "Montserrat", sans-serif;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  color: #adb394;
}

/********* Wrapper ********/
.wrapper {
  width: 100%;
  height: 300vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  position: relative;
  margin: 1.5em auto 1.5em auto;
  width: 75vw;
  height: 280vh;
  display: flex;
  flex-direction: column;
  background-color: #333;
}

.cross {
  color: #adb394;
  font-size: 3em;
  margin-left: 0.2em;
  grid-area: cross;
  position: absolute;
  transition: transform 0.25s, opacity 0.25s;
}

.cross:hover {
  color: #5f5747;
  transform: rotate(90deg);
}

.portraitimg {
  width: 3.1em;
  height: auto;
  /*border-radius: 50%;*/
  margin-top: 0.625em;
  display: inline;
}

/*PortraitAboutMe*/
.tc-container {
  width: 45%;
  height: 85vh;
  margin-top: 1.5em;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0.25em 0.5em 0 rgba(0.2, 0.2, 0.2, 1);
  background-color: #f4f0eb;
  margin-bottom: 2em;
  margin: 1.25em auto;
  color: #5f5747;
}

.centerimg {
  width: 30%;
  height: auto;
}

.tc-container .portraitimg {
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin: 1.5em 0;
}

/*
.top-img {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.7s ease;
}

.top-img:hover {
  opacity: 1;
}
*/

.portraittext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portrait {
  margin: 2.5em;
  text-align: center;
}

.contact {
  margin-top: 0;
}

/********* Left Menu ********/
/********* Logo Skillpage ********/
.logo {
  background-color: #adb394;
}

/********* Social Icons *********/
.icon {
  color: #adb394;
}

a {
  color: #adb394;
  text-decoration: none;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
a:hover,
a.selected {
  color: #adb394;
}

h1,
h2,
h4,
h5,
h6 {
  text-align: center;
  margin-bottom: 0.3em;
}
h1 {
  font-size: 2em;
  margin: 3.1em;
}

h2 {
  font-size: 1.25em;
  margin: 1.5em 0;
}

h3 {
  color: #adb394;
  text-align: center;
}

.sociales {
  text-align: center;
  margin-bottom: 1.25em;
}

.buttonCV {
  display: none;
}

button {
  background-color: #f4f0eb;
  color: #5f5747;
  border: 0.125em solid #adb394;
  border-radius: 3.125em;
  width: 80%;
  height: 2.5em;
  padding: 0.625em 0.625em;
  margin: 1.25em 0 1.25em 0;
  cursor: pointer;
  font-size: 0.75em;
  text-align: center;
  justify-content: center;
}

button {
  transition-duration: 0.4s;
}

button:hover {
  background-color: #adb394;
  color: #fff;
}

.fa-download {
  margin-right: 0.3em;
}

.buttonCVDesktop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1.25em;
}

.buttoncontact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 1.25em;
}

.fa-envelope {
  color: #5f5747;
  margin-right: 0.3em;
}

/*Code*/
#cv {
  padding-top: 1em;
  position: relative;
  align-items: center;
}

.timeline {
  margin-top: 2em;
  gap: 2em;
  display: flex;
  flex-direction: column;
  padding: 2em 0;
  margin-bottom: 2em;
  border-left: 4px solid var(--color-accent);
  position: relative;
}

.timeline:before {
  position: absolute;
  top: -1.3em;
  left: -1.5em;
  color: var(--color-accent);
  content: "Heute";
  font-weight: bold;
  font-family: Helvetica, sans-serif;
}

.timeline:after {
  position: absolute;
  bottom: -1.3em;
  left: -1.4em;
  content: "2015";
  color: var(--color-accent);
  font-weight: bold;
  font-family: Helvetica, sans-serif;
}

.timeline-entry {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 1.2em;
  /*border: 3px solid var(--color-accent);;*/
}

.timeline-entry::after {
  content: "";
  position: absolute;
  left: -2em;
  top: 50%;
  width: 10px;
  height: 10px;
  background: var(--color-accent);
  border: 5px solid var(--color-background-left);
  border-radius: 10em;
}

.tl-title {
  font-size: 17px;
  font-weight: bold;
}

.location-dates {
  display: flex;
  font-style: italic;
  font-size: 14px;
  border-bottom: 1px solid var(--color-accent);
  margin-bottom: 6px;
  padding-bottom: 2px;
}

.spacer {
  margin: 0 3px;
  width: 1px;
  background: var(--color-accent);
}

.tl-location {
}

.tl-dates {
}

.tl-description {
  font-size: 15px;
}

.tl-description ul {
  margin: 3px 0 0 0;
  padding: 0 0 0 2em;
  font-size: 0.9em;
}

/********* Cubes ********/
.container {
  /*position: relative;*/
  width: 3.5em;
  height: 3.5em;
  margin-bottom: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.875em;
  background-color: #f4f0eb;
  box-shadow: 0 0.25em 0.5em 0 rgba(0.2, 0.2, 0.2, 1);
}

.cube_face > .cubeimg {
  font-size: 1.563em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.scene > .cubeimg {
  font-size: 1.875em;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  color: black;
  transition: bottom 0.3s;
}

.scene:hover > .cubeimg {
  transform: translate(-50%, 0) rotateY(360deg);
  bottom: -10px;
  transition: 0.3s 0.2s;
}

.cube {
  transform: translateY(0) translateZ(-100px) rotateX(-20deg) rotateY(20deg);
}

.scene {
  width: 3.125em;
  height: 3.125em;
  perspective: 31.25em;
  margin-left: 0.5em;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.3s ease-in;
}

.cube_shadow {
  display: block;
  position: absolute;
  width: 3.125em;
  height: 2.5em;
  filter: blur(0.625em);
  bottom: -10px;
  left: 0;
  background-color: black;
  transition: 0.3s ease-in;
}

.scene:hover .cube_shadow {
  width: 3.75em;
  height: 0.625em;
  filter: blur(0.938em);
  bottom: 0;
  left: 0.625em;
}

.cube_face {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #adb394 /*#ae3b3b*/;
  /*  Oder evt. mit dieser Farbe: background-color: #9c0c0c;*/
  opacity: 1;
  border: 0.063em solid black;
}

.cube_face--front {
  transform: rotateY(0) translateZ(1.563em);
}

.cube_face--right {
  transform: rotateY(90deg) translateZ(1.563em);
  background-color: #737762 /*#992b2b*/;
}

.cube_face--back {
  transform: rotateY(180deg) translateZ(1.563em);
  background-color: #292b23 /*#520303*/;
}

.cube_face--left {
  transform: rotateY(-90deg) translateZ(1.563em);
  background-color: #a9b47c /*#e63737*/;
}

.cube_face--top {
  transform: rotateX(90deg) translateZ(1.563em);
  background-color: #a0b15b /*#c21f1f*/;
}

.scene:hover .cube {
  transform: translateY(-40px) translateZ(-100px) rotateX(30deg) rotateY(30deg);
}

.cubeimg {
  width: 80%;
  height: auto;
}

/*Code*/

/*Mobile 768px*/
@media (min-width: 768px) {
  /********* Wrapper ********/
  .wrapper {
    height: 290vh;
  }

  .page {
    margin: 0 auto 1.5em 6.8em;
    width: 65vw;
    height: 250vh;
  }
  #timeline {
    display: none;
  }

  /*PortraitAboutMe*/
  .tc-container {
    width: 75%;
    height: 80vh;
    margin-top: 1.5em;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.25em 0.5em 0 rgba(0.2, 0.2, 0.2, 1);
    margin-bottom: 1.25em;
    margin: 1.25em auto;
  }

  .tc-container .portraitimg {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin: 1.5em 0;
  }

  .buttonCVDesktop {
    display: none;
  }

  .buttonCV {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    background-color: #f4f0eb;
    color: #333;
    border: 0.125em solid #adb394;
    display: inline;
    width: 80%;
    height: auto;
    padding: 0.35em 1.4em;
    margin: 1.25em 0 3.75em 0;
    cursor: pointer;
    font-size: 0.9em;
  }

  button {
    transition-duration: 0.4s;
  }

  button:hover {
    background-color: #adb394;
    color: white;
  }

  .fa-download {
    margin-right: 0.3em;
  }

  #cv {
    justify-content: flex-start;
  }

  .timeline {
    width: 36em;
    flex: 1 1 auto;
    max-height: 300vh;
    gap: 0;
    justify-content: space-around;
    background: linear-gradient(#5f5747, #5f5747) no-repeat center / 4px 100%;
    border: none;
  }

  .timeline::before {
    left: calc(50% - 2.5ch);
  }

  .timeline::after {
    left: calc(50% - 2ch);
  }

  .timeline-entry {
    width: 16em;
    left: 0;
    flex: 0 1 auto;
  }

  .timeline-entry.right {
    align-self: flex-end;
  }

  .timeline-entry.left {
    align-self: flex-start;
  }

  .timeline-entry::after {
    border: 5px solid var(--color-background-middle);
  }

  .timeline-entry.right::after {
    left: unset;
    right: calc(100% + 2em - 10px);
  }

  .timeline-entry.left::after {
    left: calc(100% + 2em - 10px);
    background: var(--color-accent);
  }
}
